C:/Users/robot/ERCT/CAD/ERCT[[:space:]]-[[:space:]]DFveloper_2025_11_02.f3d filter=lfs diff=lfs merge=lfs -text
C:/Users/robot/ERCT/CAD/ERCT[[:space:]]-[[:space:]]DFveloper_2025_11_02.f3d filter=lfs diff=lfs merge=lfs -text
