C:/Users/robot/ERCT/CAD/HGX[[:space:]]SB[[:space:]]Mod[[:space:]]by[[:space:]]DFveloper.step filter=lfs diff=lfs merge=lfs -text
C:/Users/robot/ERCT/CAD/HGX[[:space:]]SB[[:space:]]Mod[[:space:]]by[[:space:]]DFveloper.step filter=lfs diff=lfs merge=lfs -text
